body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
	color: #333;
}
.container {
	max-width: 1200px;
	margin: auto;
	padding: 20px;
	animation: fade-up 0.5s;
}
header {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}
header h1 {
	font-family: "Limelight", sans-serif;
	font-weight: 400;
	font-style: bold;
	margin: 0;
}
.subtitle {
	margin-top: 20px;
}
.movie-poster {
	display: block;
	animation: fade-up 0.8s;
	margin: auto;
	max-width: 100%;
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
section {
	margin-bottom: 50px;
	animation: fade-up 0.5s;
}
h2 {
	color: #333;
	border-bottom: 2px solid #333;
	padding-bottom: 5px;
	margin-bottom: 20px;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 600;
	font-style: italic;
}
ol {
	list-style: none;
	padding: 0;
}
.video-container {
	position: relative;
	margin: auto;
	padding-bottom: 25%;
	padding-top: 25px;
	height: 0;
	text-align: center;
}
.video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 768px) {
	header {
		padding: 20px;
	}
	.movie-poster {
		max-width: 80%;
	}
}
@keyframes fade-up{
	0%{
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}
	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}
p, ol {
	font-optical-sizing: auto;
	font-weight: 450;
	font-style: normal;
	margin: 0;
}
footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}
